@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full::before {
   border-radius: 0.5rem;
   opacity: 0.45;
}

@media screen and (max-width: 768px) {
   .rounded-l-none {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
   }
   .right-0 {
      left: 0;
      right: unset;
      top: 6rem;
   }
   input.w-full {
      width: unset;
   }
}
